## Priporočilni sistem podobnih filmov

Izdelali bomo preprost priporočilni sistem, ki priporoča vsebine (filme), najbolj podobne izbranemu filmu.

In [25]:
# Knjiznice

import numpy as np
import pandas as pd

### 1. Beri podatke o ocenah iz datoteke

In [26]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv('u.data', sep='\t', names=column_names)

In [27]:
# Oglej si prebrane podatke:
#df.head()

Podatki o filmih:

In [28]:
movie_titles = pd.read_csv("Movie_Id_Titles")
movie_titles.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

Kako jih združimo (dodamo imena filmov):

In [29]:
df = pd.merge(df,movie_titles,on='item_id')
# df

,user_id,item_id,rating,timestamp,title
0,0,50,5,881250949,Star Wars (1977)
1,290,50,5,880473582,Star Wars (1977)
2,79,50,4,891271545,Star Wars (1977)
3,2,50,5,888552084,Star Wars (1977)
4,8,50,5,879362124,Star Wars (1977)
...,...,...,...,...,...
99998,840,1674,4,891211682,Mamma Roma (1962)
99999,655,1640,3,888474646,"Eighth Day, The (1996)"
100000,655,1637,3,888984255,Girls Town (1996)
100001,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,887427810,Dadetown (1995)

## 2. Ogled in vizualizacija podatkov
Npr. najbolje ocenjeni filmi ..

In [30]:
# Uvozi za vizualizacijo
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('white')
%matplotlib inline

In [31]:
## Kaj naredimo, preizkusi ?

df.groupby('title')['rating'].count()

#df.groupby('title')['rating'].count().sort_values(ascending=False)

#df.groupby('title')['rating'].mean()

#df.groupby('title')['rating'].mean().sort_values()

title
'Til There Was You (1997)                  9
1-900 (1994)                               5
101 Dalmatians (1996)                    109
12 Angry Men (1957)                      125
187 (1997)                                41
                                        ...
Young Guns II (1990)                      44
Young Poisoner's Handbook, The (1995)     41
Zeus and Roxanne (1997)                    6
unknown                                    9
Á köldum klaka (Cold Fever) (1994)         1
Name: rating, Length: 1664, dtype: int64

### Ratings dataframe: povprečni rating filma

In [32]:
# 
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
# ratings.head()

Dodaj število ocen:

In [33]:
ratings['num of ratings'] = pd.DataFrame(df.groupby('title')['rating'].count())
# ratings.head()

Izriši histograme. Vsak graf dodaj v poročilo in opiši, kaj nam povejo.

In [34]:
#plt.figure(figsize=(10,4))
#ratings['num of ratings'].hist(bins=70)

In [35]:
#plt.figure(figsize=(10,4))
#ratings['rating'].hist(bins=70)

In [36]:
#sns.jointplot(x='rating',y='num of ratings',data=ratings,alpha=0.5)

## 3. Priporočanje podobnih filomv 

Kreirajmo matriko z user IDji in Naslovi filomv, ki vsebuje ratinge.

In [37]:
moviemat = df.pivot_table(index='user_id',columns='title',values='rating')
moviemat.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Filmi z največ ocenami?

In [38]:
ratings.sort_values('num of ratings',ascending=False).head(10)

                                 rating  num of ratings
title
Star Wars (1977)               4.359589             584
Contact (1997)                 3.803536             509
Fargo (1996)                   4.155512             508
Return of the Jedi (1983)      4.007890             507
Liar Liar (1997)               3.156701             485
English Patient, The (1996)    3.656965             481
Scream (1996)                  3.441423             478
Toy Story (1995)               3.878319             452
Air Force One (1997)           3.631090             431
Independence Day (ID4) (1996)  3.438228             429

### Izberimo dva filma:
Starwars, Liar Liar

Njihove ocene uporabnikov so:

In [39]:
starwars_user_ratings = moviemat['Star Wars (1977)']
liarliar_user_ratings = moviemat['Liar Liar (1997)']
starwars_user_ratings.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

Z corrwith() metodo dobimo korelacijo med izbranim filmom in ostalimi.

In [40]:
similar_to_starwars = moviemat.corrwith(starwars_user_ratings)
similar_to_liarliar = moviemat.corrwith(liarliar_user_ratings)

similar_to_starwars

title
'Til There Was You (1997)                0.872872
1-900 (1994)                            -0.645497
101 Dalmatians (1996)                    0.211132
12 Angry Men (1957)                      0.184289
187 (1997)                               0.027398
                                           ...
Young Guns II (1990)                     0.228615
Young Poisoner's Handbook, The (1995)   -0.007374
Zeus and Roxanne (1997)                  0.818182
unknown                                  0.723123
Á köldum klaka (Cold Fever) (1994)            NaN
Length: 1664, dtype: float64

Odstranimo NaN in uporabimo DataFrame

In [41]:
corr_starwars = pd.DataFrame(similar_to_starwars,columns=['Correlation'])
corr_starwars.dropna(inplace=True)
corr_starwars.head()

                           Correlation
title
'Til There Was You (1997)     0.872872
1-900 (1994)                 -0.645497
101 Dalmatians (1996)         0.211132
12 Angry Men (1957)           0.184289
187 (1997)                    0.027398

Ko sortiramo po korelaciji, dobimo najbolj sorodne filme. Težava je pri tistih z malo ocenami.

In [42]:
corr_starwars.sort_values('Correlation',ascending=False).head(10)

                                                    Correlation
title
Hollow Reed (1996)                                          1.0
Stripes (1981)                                              1.0
Star Wars (1977)                                            1.0
Man of the Year (1995)                                      1.0
Beans of Egypt, Maine, The (1994)                           1.0
Safe Passage (1994)                                         1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0
Line King: Al Hirschfeld, The (1996)                        1.0
Hurricane Streets (1998)                                    1.0

Zato odstranimo filme z manj kot 100 ocenami:

In [43]:
corr_starwars = corr_starwars.join(ratings['num of ratings'])
corr_starwars.head()

                           Correlation  num of ratings
title
'Til There Was You (1997)     0.872872               9
1-900 (1994)                 -0.645497               5
101 Dalmatians (1996)         0.211132             109
12 Angry Men (1957)           0.184289             125
187 (1997)                    0.027398              41

Sortiramo po podobnosti:

In [44]:
corr_starwars[corr_starwars['num of ratings']>100].sort_values('Correlation',ascending=False).head()

,Correlation,num of ratings
title,,
Star Wars (1977),1.000000,584
"Empire Strikes Back, The (1980)",0.748353,368
Return of the Jedi (1983),0.672556,507
Raiders of the Lost Ark (1981),0.536117,420
Austin Powers: International Man of Mystery (1997),0.377433,130

## 4. Naloga

Ponovite postopek za svoj izbrani film z vsaj 50 ocenami, in ugotovite njemu najbolj podobne filme !

* izberi si film
* izriši histogram njegovih ocen
* izračunaj vsaj 10 najbolj podobnih filmov.